<% provide :title, strip_tags(t('new-transcription')) %>
<% provide :transcribe, "active" %>
<% provide :new_transcription, "active" %>

<h2><%= t('new-transcription') %></h2>
<% if @page && @page.page_type && @page.page_type.field_groups.any? %>
    <div class="row">
      <div class="col-md-12">
        <h3><%= t('page-info') %></h3>
        <dl class="dl-horizontal">
          <dt><%= t('page.number-of-days') %></dt>
          <dd><%= @page.number_of_days %></dd>

          <dt><%= t('page.first-day') %></dt>
          <dd><%= @page.start_date %></dd>

          <dt><%= t('page.last-day') %></dt>
          <dd><%= @page.end_date %></dd>

          <dt><%= t('page.number-of-rows') %></dt>
          <dd><%= @page.expected_row_count %></dd>

          <dt><%= t('page.number-of-data-points') %></dt>
          <dd><%= @page.expected_cell_count %></dd>

        </dl>
      </div>
    </div>

    <%= render 'page_field_list', page: @page %>
    
    <div class="row voffset20">
      <div class="col-sm-12">
        <%= render 'form', page: @page %>
      </div>
    </div>

    <%= render 'pages/large_page_image', page: @page %>
<% else %>
    <div class="row voffset20">
        <div class="col-md-12">
            <p><%= t('no-pages-available')</p>
        </div>
    </div>
<% end %>

